<li class="col-span-1 flex rounded-md shadow-md">
  <div class="flex flex-1 items-center justify-between truncate rounded-md border border-slate-200 bg-white/95 backdrop-blur-sm dark:border-slate-50/20 dark:bg-transparent">
    <div class="flex-1 truncate px-4 py-2 text-sm">
      <span class="font-medium text-slate-700 dark:text-slate-200">
        <%= title %>
      </span>
      <p class="font-bold <%= color %>">
        <%= stat %>
      </p>
    </div>
  </div>
</li>
